<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>
<body>

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}"
                 alt="Inicio">
            <h4 class="title is-4">PharmaFlask</h4>
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <a class="navbar-item" href="{{ url_for('index_productos') }}">Productos</a>
        <a class="navbar-item" href="{{ url_for('index_proveedores') }}">Gestión proveedores</a>
        <a class="navbar-item" href="{{ url_for('index_indicaciones') }}">Gestión sintomas</a>
    </div>
</nav>
<section class="section" style="background-color: #eeeeee">
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</section>
<footer class="footer has-background-white-ter">
    <div class="content has-text-centered ">
        <img src="{{ url_for('static', filename='open-source-logo.png') }}" width="100px;">
        <p>
            <strong>PharmaFlask</strong> por <a href="https://github.com/antoniotorresz">Antonio Torres</a>. Este código
            está bajo licencia
            <a href="https://opensource.org/licenses/MIT">The MIT licence</a>. Para el uso personal y dentro de establecimientos.
            <br>
            La venta y distibución no oficial de este producto de sofware es completamente ilegal.
        </p>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
</body>
</html>